/**Navigation**/
#navigation {
    font-size: 3em;
    color: #E9EAEC;
    background-color: #353940;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

#navigation::after{
    content: "";
    clear: both;
    display: block;
}

#navigation a{
    text-decoration: none;
    color: #E9EAEC;
}

#navigation a:hover{
    color: #98a692;
}


.dropdown{
    float: right;
}

.dropdown a{
    margin-right: 1em;
}

#navigation a:hover + #drop-content{
    display: block;
}

#drop-content:hover{
    display: block;
}

#drop-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #98a692;
    z-index: 1;
    width: 20%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

#drop-content a{
    margin: 0;
    padding: 0;
}

#drop-content ul{
    list-style: none;
    padding-left: 3%;
}

#drop-content a:hover{
    color: #353940;
}

/**Return Arrow**/

#return {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 5%;
}

/**Body**/

body {
    font-family: 'Roboto', serif;
    font-size: 0.75vw;
    background-color: #4b515c;
    margin: 0;
    color: #E9EAEC;
}

.content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.content a:visited{
    color: #98a692;
}

.content a:link{
    color: #98a692;
}

.sitemap {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.sitemap a{
    color: #E9EAEC;
    font-size: 2em;
}

.sitemap th{
    font-size: 3em;
}

h1 {
    font-size: 4em;
}

img {
    width: 80%;
}

p {
    font-size: 1.6em;
    text-align: left;
    background-color: #353940;
    padding: 3%;
    border-radius: 10px;
}

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    background-color: #353940;
}