#navigation {
    font-size: 3em;
    color: #E9EAEC;
    background-color: #353940;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    size: 100%;
}

#links {
    float: right;
}

#links a{
    padding-left: 20px;
    font-size: 0.75em;
    text-decoration: none;
    color: #E9EAEC;
}

#links a:hover {
    color: #98a692;
}

#return {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 5%;
}

#bottom {
    background-color: #353940;
    text-align: center;
    font-size: 2em;
}

#bottom::after{
    content: "";
    display: table;
    clear: both;
}

#bottom table {
    table-layout: fixed;
    margin: 2%;
    float: left;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    background-color: #4b515c;
}

#bottom td{
    padding: 2%;
}

#bottom th {
    font-size: 1.2em;
}

#bottom a {
    text-decoration: underline;
    color: #E9EAEC;
}

body {
    font-family: 'Roboto', serif;
    font-size: 0.75vw;
    background-color: #4b515c;
    margin: 0;
    color: #E9EAEC;
}

.content {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 4em;
}

img {
    width: 80%;
}

p {
    font-size: 1.6em;
}